*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f7fa;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 60px;

background:#0056d6;

color:#fff;

}

nav a{

color:white;

margin-left:20px;

text-decoration:none;

font-weight:bold;

}

.hero{

height:90vh;

background:linear-gradient(rgba(0,86,214,.75),rgba(0,86,214,.75)),
url("https://images.unsplash.com/photo-1554224155-6726b3ff858f?w=1600");

background-size:cover;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}

.hero h1{

font-size:52px;

margin-bottom:15px;

}

.hero p{

font-size:20px;

margin-bottom:25px;

}

.btn{

background:white;

padding:15px 35px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

color:#0056d6;

}

.features{

padding:70px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.card{

background:white;

padding:30px;

text-align:center;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.card i{

font-size:45px;

color:#0056d6;

margin-bottom:15px;

}

footer{

background:#0056d6;

color:white;

padding:25px;

text-align:center;

}
